{{ define "main" }}

<main class="content list">
	{{ if .Content }}
	{{ partial "series_nav" .}}
	<article class="post">
		<h1>{{- if .IsNode -}}Series: {{ end -}}{{ .Title }}</h1>

		{{ partial "article/postmeta.html" . }}

		<h2>All articles in series</h2>
		{{ with .CurrentSection.Pages }}
		<ul>
			{{ range .Reverse}}
			<li>
				<a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
			</li>
			{{ end }}
		</ul>
		{{ end }}

		<p>
			{{ .Content }}
		</p>


	</article>
	{{ else }}
	{{ partial "preview_list.html" . }}
	{{ end }}
</main>

{{ end }}