<script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "ScholarlyArticle",       <!--https://schema.org/TechArticle get from page frontmatter-->  BlogPosting
	  "headline": "{{ .Title }}",
	  "name":  "{{ .Title }}",
	  "description": {{.Summary }},
	  "wordCount": "{{ .WordCount }}",
	  "inLanguage": "{{ $.Page.Language }}",
	  {{ with .Params.Image}}
	  "image": {{ . }},	
	  {{ end}}
	  <!-- "articleBody": "", -->
	  "author": [{{ range .Params.Author }}
		 {
			"@type": "Person",
			"name": {{ . }}
		 }
		 {{ end }}
	  ],
	  "datePublished": "{{ .PublishDate }}",
	  "dateModified": "{{ .Lastmod }}",
	  "mainEntityOfPage": {
		 "@type": "WebPage",
		 "@id": {{ .Permalink }}
	  },
	  "publisher": {
		 "@type": "Organization",
		 "name": {{ .Site.Title }},
		 "logo": {
			"@type": "ImageObject",
			"url":  {{ (print $.Site.BaseURL "favicon.ico") }}
		 }
	  },
	 {{ with .Params.Tags}}  <!-- test -->
	  "keywords": "{{ delimit . ", " }}",
	  {{ end }}
	  "articleSection": "{{ .Section }}"
	}
	</script>


<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "BreadcrumbList",
			  "itemListElement": [
				 {
					"@type": "ListItem",
					"position":  1 ,
					"name": "Posts",
					"item": "https://blog.martdegraaf.nl/posts/"
				 }, 
				 {
					"@type": "ListItem",
					"position":  2 ,
					"name": "Unlocking Angular Potential: Provide Root Services That Listen to Routing Events",
					"item": "https://blog.martdegraaf.nl/posts/angular-singleton-services-listening-to-routing-events/"
				 }
			  ]
			}
			</script>