{{- /* 
   Inspired by https://css-tricks.com/essential-meta-tags-social-media/
   https://ogp.me/#types
*/ -}}
{{- $type:= cond .IsPage .Type "website" -}}  
{{- $context:= . -}} 
{{- $openGraphMeta:= ""  -}}
{{- $prefix := false -}} 
{{- with $type -}}
{{- if eq . "book" -}} 
{{- $openGraphMeta:= partial "metadata/OpenGraph/Types/book.html" $context -}}
{{- else if eq . "article" -}}
{{- $openGraphMeta = partial "metadata/OpenGraph/Types/article.html" $context -}}
{{- else if eq . "profile" -}}
{{- $openGraphMeta = partial "metadata/OpenGraph/Types/profile.html" $context -}}
{{- else if eq . "website" -}}
{{- $openGraphMeta = partial "metadata/OpenGraph/Types/website.html" $context -}}
{{- else if eq . "music" -}}
{{- $openGraphMeta = partial "metadata/OpenGraph/Types/music.html" $context -}}
{{- else if eq . "video" -}}
{{- $openGraphMeta = partial "metadata/OpenGraph/Types/video.html" $context -}}
{{- else }} <!-- custom -->
{{- $prefix = true -}} 
{{- end -}}
{{- else -}}
{{- $type = "website" -}}
{{- $openGraphMeta = partial "metadata/OpenGraph/website.html" $context -}}
{{- end -}}
{{- if $prefix }}
   <head prefix="customOpenGraphNS: https://example.com/ns#">
      <meta charset="utf-8"> {{- /* must be within first 1024 bytes */ -}}
      <meta property="og:type" content="customOpenGraphNS:{{ $type }}" >
{{- else -}}
   <head>
		<meta charset="utf-8">
      <meta property="og:type" content="{{ $type }}" >
{{- end }}
      <meta property="og:title" content="{{ .Title }}">
      <meta property="og:url" content="{{ .Permalink }}">
      <meta property="og:site_name" content="{{ .Site.Title }}">
{{- $description:= .Description | default .Summary -}}
{{- with $description }}
      <meta property="og:description" content="{{ $description }}">
{{- end }}
{{- if .Params.coverImage -}}
{{- $path:= "" -}}
{{-   $matchedFile := .Page.Resources.GetMatch .Params.coverImage  -}}
{{-   if $matchedFile  -}}
{{-     $path = path.Join .Page.File.Dir .Params.coverImage -}}
{{-   end  }}
      <meta property="og:image" content="{{.Site.BaseURL}}{{ $path }}">
      <meta property="og:image:alt" content="{{ .Params.coverImageAlt }}">
{{- end }}
{{- with $openGraphMeta }}
{{ $openGraphMeta }}
{{- end }}