{{- $link:= "" -}}
{{- $linkTitle:= "" -}}
{{- $linkClass:= "prev-article" -}}
{{- $seriesLink:= ""}}
{{- $seriesLinkTitle:= ""}}

{{- if .IsNode -}} 
	<!-- series root-->
	{{- with .Parent.Pages.Prev . -}}
		{{- $link = .Permalink -}}
		{{- $linkTitle = .LinkTitle -}}
		{{- if not .Parent.Parent.IsHome}}
			{{- $seriesLink = .Parent.Permalink -}}
			{{- $seriesLinkTitle = .Parent.LinkTitle -}}
		{{- end -}}
		{{- $linkClass = "series-prev-article" -}}
	{{ else }}
		<!-- very first - back to all articles -->
		{{- with .Parent -}}
			{{- $link = .Permalink -}}
			{{- $linkTitle = .LinkTitle -}}
			{{- $linkClass = "series-prev-article" -}}
		{{- end -}}
	{{- end -}}
{{- else -}}
   {{- if eq ( last 1 .CurrentSection.Pages) (slice .Page) -}}
	<!-- last item in series-->
		{{- if and (and (not .Parent.Parent.IsHome) (.Parent.IsNode)) (ne nil (.Parent.Parent.Pages.Prev .Parent ) )}}
			{{- with .Parent -}}
				{{- $link = .Permalink -}}
				{{- $linkTitle = .LinkTitle -}}
				{{- $linkClass = "" -}}
			{{- end -}}
		{{- else -}}
		<!-- very first - back to all articles -->
			{{- with .Parent -}}
				{{- $link = .Permalink -}}
				{{- $linkTitle = .LinkTitle -}}
				{{- $linkClass = "series-prev-article" -}}
			{{- end -}}
		{{- end -}}
	{{- else -}}
	<!--  page not series first-->
		{{ if  .Parent.Parent.IsHome }}
			{{ with .Parent.Pages.Prev . }}
				{{- with (index .CurrentSection.Pages 0) -}}
				{{- $link = .Permalink -}}
				{{- $linkTitle = .LinkTitle -}}
				{{- $seriesLink = .Parent.Permalink -}}
				{{- $seriesLinkTitle = .Parent.LinkTitle -}}
			{{ end }}	
		{{ end }}
		{{ else }}
			{{- with (.PrevInSection) -}}
				{{- $link = .Permalink -}}
				{{- $linkTitle = .LinkTitle -}}
				{{- $seriesLink = .Parent.Permalink -}}
				{{- $seriesLinkTitle = .Parent.LinkTitle -}}
				{{- $linkClass = "series-prev-chapter" -}}
			{{- end -}}
		{{ end }}
	{{ end }}
{{- end -}}

<li class="prev{{- $linkClass -}}">
	{{- if $link -}}
		<a class="navlink-prev"  href="{{- $link -}}">{{- $linkTitle -}}</a>
	{{- end -}}
	{{- if $seriesLink -}}
		{{- if eq $seriesLink  .Permalink}} 
			<span class="navlink-prev">{{- $seriesLinkTitle -}}</span>
		{{- else -}}
			<a  class="navlink-prev" href="{{- $seriesLink -}}">{{- $seriesLinkTitle -}}</a>
		{{- end -}}
	{{- end -}}
</li>