{{- $link:= "" -}}
{{- $linkTitle:= "" -}}
{{- $linkClass:= "next-article" -}}
{{- $seriesLink:= ""}}
{{- $seriesLinkTitle:= ""}}

{{- if .IsNode -}} 
	{{- with (index .CurrentSection.Pages (sub (len .CurrentSection.Pages) 1)) -}}
		{{- $link = .Permalink -}}
		{{- $linkTitle = .LinkTitle -}}
		{{- $seriesLink = .Parent.Permalink -}}
		{{- $seriesLinkTitle = .Parent.LinkTitle -}}
		{{- $linkClass = "series-next-chapter" -}}
	{{- end -}}
{{- else -}}
	{{- if eq ( first 1 .CurrentSection.Pages) (slice .Page) -}}
		<!-- last of series -->
		<!-- works, except scan for sibling -->
		<!-- find next article, or go to parent-->
		{{- if and (and (not .Parent.Parent.IsHome) (.Parent.IsNode)) (ne nil (.Parent.Parent.Pages.Next .Parent ) )}}
			{{- with .Parent.Parent.Pages.Next .Parent -}}
				{{- $link = .Permalink -}}
				{{- $linkTitle = .LinkTitle -}}
				{{- $linkClass = "series-next-article" -}}
			{{- end -}}
		{{- else -}}
			{{- if ne .CurrentSection .FirstSection -}}
				<!-- back to parent from series page -->
				{{- with .Parent.Parent -}}
					{{- $link = .Permalink -}}
					{{- $linkTitle = .LinkTitle -}}
					{{- $linkClass = "" -}}
				{{- end -}}
			{{- else -}}
				<!-- back to parent from single page -->
				{{- with .Parent -}}
					{{- $link = .Permalink -}}
					{{- $linkTitle = .LinkTitle -}}
					{{- $linkClass = "" -}}
				{{- end -}}
			{{- end -}}
		{{- end -}}
	{{- else -}}
		{{- with .Parent.Pages.Next . -}}
				{{- $link = .Permalink -}}
				{{- $linkTitle = .LinkTitle -}}
				{{- if not .Parent.Parent.IsHome}}
					{{- $seriesLink = .Parent.Permalink -}}
					{{- $seriesLinkTitle = .Parent.LinkTitle -}}
				{{- end -}}
				{{- $linkClass = "series-next-article" -}}
			{{- end -}}
	{{- end -}}
{{- end -}}

<li class="next{{- $linkClass -}}">
	{{- if $seriesLink -}}
		{{- if eq $seriesLink  .Permalink}} 
			<span class="navlink-next">{{- $seriesLinkTitle -}}</span>
		{{- else -}}
			<a class="navlink-next" href="{{- $seriesLink -}}">{{- $seriesLinkTitle -}}</a>
		{{- end -}}
	{{- end -}}
	{{- if $link -}}
		<a class="navlink-next"  href="{{- $link -}}">{{- $linkTitle -}}</a>
	{{- end -}}
</li>