<main class="content">
  
  <article class="post-groups">
    {{ .Content }}
    <div class="post-group">
    {{ range .Pages.GroupByDate "2006" }}
      <div class="post-group-item">
        <h3>{{ .Key }}</h3>
        <ul>1
          {{ range .Pages }}
            <li>
              {{ if (not (isset .Params "externalurl")) }}
                <a rel="full-article" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                on <time datetime="{{ .Date }}">{{ .Date | time.Format ":date_long" }}</time>
              {{ else }}
                <a rel="remote-article" href="{{ .Params.externalurl }}">{{ .LinkTitle }} →</a>
                on
                <a href="{{ .Permalink }}"> <time datetime="{{ .Date }}">{{ .Date | time.Format ":date_long" }}</time> </a>
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}
    </div>
  </article>
</main>
