{{- /* Preview list is used for main and article page. */ -}}
{{- $pages := where .Site.Pages "Type" "in" (slice "article" ) -}}
{{- $pages = where $pages "Parent.IsHome" "ne" true -}}


{{ $ran := first 10 $pages }}

{{- if not .IsHome -}}
{{- $paginator := .Paginate $pages -}}
{{ $ran = .Paginator.Pages }}
{{ end}}

{{- $page := . -}}
{{- range $ran -}}
{{- $url := replace .Permalink .Site.BaseURL "" -}}

<article class="post">
    <h2>

        {{ with .Parent }}
        {{ if .Parent }}
        {{ if not .Parent.IsHome }}
        <a href="{{ .Permalink }}">{{ .Title }}</a> -
        {{ end }}
        {{ end }}
        {{ end }}


        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    {{- partial "article/preview.html" . -}}
  
</article>

{{- end -}}
{{ if not .IsHome }}
{{- partial "pagination.html" . -}}
{{- end -}}